In [4]:
!pip install pandas
# Import necessary libraries
import pandas as pd

# Load data from CSV file
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())

# Get basic statistics for numerical columns
print(df.describe())

# Count the number of employees in each department
department_counts = df['Department'].value_counts()
print(department_counts)

# Calculate average salary
average_salary = df['Salary'].mean()
print(f'Average Salary: {average_salary}')

# Filter out employees older than 35
older_employees = df[df['Age'] > 35]
print(older_employees)

Requirement already satisfied: pandas in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.20.3 in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/vagrant/miniconda3/envs/jupyterlab-ext/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
     Name  Age  Salary Department
0    John   30   50000  Marketing
1    Anna   40   60000      Sales
2  Robert   35   70000         HR
        Age   Salary
count   3.0      3.0
mean   35.0  60000.0
std     5.0  10000.0
min    30.0  50000.0
25%    32.5  55000.0
50%    35.0  60000.0
75%    37.5  65000.0
max    40.0  70000.0
Department
Marketing    1
Sales        1
HR           1
Name: count, dtype: int64
Average Salary: 60000.0
   Name  Age  Salary Department
1  Anna   40   60000      Sales

In [ ]:
nesto